# generated mock data -- regenerate with test_util, don't commit it
/data/*.csv

# generated executables
/build

# environment variables
.env

# node
demography_api/node_modules/
demography_api/.env
frontend/node_modules/
frontend/.env
frontend/dist/


# go
test_util/mock_data/

# editor/OS cruft
.DS_Store
